{% extends "global/SimplePage.html" %}
{% load otree%}

{% block title %}
Information Sheet ({% now "j F Y" %})
{% endblock %}


{% block pre_text %}
<p>
    The current experiment aims to analyse how people make decisions in different situations.
</p>

<p>
    The experiment should last for no longer than 30 minutes.
</p>




<p align="justify">
    The decisions that you make which are recorded and collected by the experimenter will be linked only to your
        ID numbers. It will not be linked to your name. Hence, this protocol will ensure that the decisions you make during this experiment that is recorded by the experimenter
        remain anonymous.
        The anonymous data will be analysed by the researchers and will be stored afterward in the behavioural science lab at the Warwick Business School where it may be downloaded by other researchers for reanalysis.
</p>
<p align="justify">

        This is a voluntary experiment. You may withdraw at any time without any penalty. If you withdraw you may lose the
        possibility to gain cash rewards from parts of the experiment in which you do not participate.


<p align="justify">

        If you wish to know more about the research behind this experiment, or if you have any questions or complaints
    about the experiment, please contact <i><b>Ankit Shanker </b></i> at <a href="mailto:ankit.shanker@warwick.ac.uk">ankit.shanker@warwick.ac.uk</a>


</p>
{% endblock pre_text %}



