{% extends "global/SimplePage.html" %}
{% load otree %}
{% load static otree %}
<link rel="stylesheet" type="text/css" href="{% static 'my_custom_styles.css' %}">



{% block title %} Covid-19 Pandemic News {% endblock %}

{%  block content %}

    <div class="row justify-content-center p-3">
        <div class="col text-center">
            <img src= "{% static 'news/False_1.png' %}" class="ml-3" alt="Fnews" width="470" length=" 290"/>



        </div>
    </div>



    {% formfield player.Plausibility %}
    {% formfield player.Familiarity %}
    {% formfield player.Importance %}
    {% formfield player.Worryingness %}

    {% include "global/ButtonNext.html" with button_text="Next" %}

{% endblock %}